{% extends 'base.html' %}
{% block page_title %}Nouvelle pièce de rechange{% endblock %}
{% block content %}
<form method="post" class="card card-kpi p-4">
  {% csrf_token %}
  <div class="row mb-3">
    <div class="col-md-6">{{ form.article.label_tag }} {{ form.article }}</div>
    <div class="col-md-6">{{ form.machine.label_tag }} {{ form.machine }}</div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">{{ form.quantity.label_tag }} {{ form.quantity }}</div>
    <div class="col-md-6">{{ form.min_quantity.label_tag }} {{ form.min_quantity }}</div>
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <a href="{% url 'spare_part_list' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}
